.delivery-container {
  display: flex;
  min-height: 576px;
  background: url("../../assets/bg-delivery.png");
  align-items: center;
  justify-content: center;
}

.delivery {
  padding-left: 100px;
  padding-right: 1rem;
}

.deliveryimg {
  padding-right: 144px;
  max-width: 100%;
}

.delivery h2 {
  font-size: 64px;
  font-family: Urbanist;
  color: #534944;
  display: flex;
  justify-content: end;
}

.delivery > h2 > img {
  height: 64px;
  width: 85px;
  margin: auto 0rem 0rem 2rem;
}

.delivery > .button {
  float: right;
}

.delivery p {
  max-width: 586px;
  font-size: 20px;
  font-family: Poppins;
  text-align: right;
}

.delivery p > span {
  font-weight: bold;
}

@media (max-width: 1400px) {
  .delivery {
    padding-left: 30px;
  }
  .deliveryimg {
    padding-right: 20px;
  }
}

@media (max-width: 1150px) {
  .delivery-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding-top: 1rem;
  }
  .delivery {
    padding-left: 0px;
  }
  .delivery h2 {
    justify-content: center;
  }
  .deliveryimg {
    padding-right: 0px;
  }
  .delivery > p {
    text-align: center;
  }
  .delivery > .button {
    margin-top: 30px;
    float: none;
  }
}

@media (max-width: 590px) {
  .delivery > button {
    padding: 0.8rem;
  }
  .delivery > button a {
    font-size: 19px;
  }
}

@media (max-width: 460px) {
  .delivery > button {
    padding: 0.8rem;
  }
  .delivery > button a {
    font-size: 17px;
  }
  .delivery{
    padding-right: 0px;
  }
}

@media (max-width:430px){
  .delivery h2{
    font-size: 54px;
  }
  .delivery > h2 > img {
    width: 60px;
    height: 50px;
  }
}
