.restaurant-container {
  display: flex;
  min-height: 576px;
  background: url("../../assets/bg-restaurant.png");
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.restaurant {
  padding-right: 144px;
}

.restaurantimg {
  padding-left: 100px;
  max-width: 100%;
  margin-top: 10px;
}

.restaurant h2 {
  font-size: 64px;
  font-family: Urbanist;
  color: #534944;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}

.restaurant p {
  max-width: 569px;
  font-size: 20px;
  font-family: Poppins;
  padding-left: 1rem;
}

.restaurant > h2 > img {
  height: 64px;
  width: 64px;
  margin-right: 2rem;
}

.restaurant p > span {
  font-weight: bold;
}

@media (max-width: 1400px) {
  .restaurant {
    padding-right: 30px;
  }
  .restaurantimg {
    padding-left: 20px;
  }
}

@media (max-width: 1150px) {
  .restaurant-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
  }
  .restaurant {
    padding-right: 0px;
  }
  .restaurant h2 {
    justify-content: center;
  }
  .restaurantimg {
    padding-left: 0px;
  }
  .restaurant > button {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .restaurant h2 > img {
    width: 60px;
    height: 60px;
  }
  .restaurant h2 {
    font-size: 52px;
  }
}
