.footer-container {
  min-height: 480px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 146px;
  background: url('../../assets/bg-delivery.png');
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: Poppins;
}

.footer-container h2 {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 48px;
  line-height: 72px;
  font-family: Poppins;
}

@media (max-width: 730px) {
  .footer-container {
    gap: 10px;
    padding-top: 15px;
    display: grid;
  }
}
