.container-header {
  min-height: 96px;
  background-position: left;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.menu-header {
  display: flex;
  gap: 32px;
  align-items: center;
}

.hamburger-icon {
  display: none; /* Escondendo o ícone de hambúrguer para telas maiores */
  cursor: pointer;
  font-size: 42px;
  margin-left: 10px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desktop-menu {
  display: flex;
  gap: 32px;
  align-items: center;
}

.mobile-menu {
  flex-direction: column;
}

.menu-header a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  position: relative;
}

.menu-header a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: #fff;
  margin-top: 1px;
  transition: 0.3s;
  position: absolute;
}

/* .menu-header a:hover::after,
.menu-header a.ativo::after {
  width: 100%;
} */

.menu-header a:hover{
  transform: scale(1.25);
}


/* O restante do seu CSS permanece o mesmo */

/* Media query para telas menores */
@media (max-width: 768px) {
  .container-header{
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
    justify-content: flex-start;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
  }
  .menu-header {
    display: flex;
    flex-direction: column;
    z-index: 999;
    border-radius: 2%;
  }

  .active{
    background-color: transparent;
    backdrop-filter: blur(8px);
    transition: 0.1s;
  }

  .hamburger-icon {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
}
