.menu-list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  background-color: #e3d7cc;
  font-family: Poppins;
}

.menu-list h1{
  font-size: 48px;
  font-weight: 500;
}

.class-selector {
  margin-top: 2rem;
}

.class-selector > button {
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 1rem 1rem 0rem 0rem;
  margin: 0rem 0.1rem 0rem 0.1rem;
  background-color: rgb(0, 0, 0, 0.15);
}

.class-selector > .active {
  background-color: rgb(0, 0, 0, 0.5);
}

.class-selector > button:hover {
  cursor: pointer;
}

.class-selector > button:active {
  background-color: rgb(0, 0, 0, 0.5);
}

.table-handler > table {
  border-style: none;
  width: 95vw;
}

.table-handler > table > tbody > tr > td,
.table-handler > table > thead > tr > td {
  vertical-align: center;
  text-align: center;
}

.add-cart-button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  padding: 0.1rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}

.add-cart-button:hover {
  cursor: pointer;
}

.add-cart-button:active {
  background-color: rgb(0, 0, 0, 0.5);
}

.dark-row {
  background-color: rgb(0, 0, 0, 0.15);
}

.selected-row {
  background-color: rgb(154, 205, 50, 0.5);
}

.cartIcon {
  width: 2rem;
  height: 2rem;
}

.menu-list > .form {
  background-color: #e9c5af;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: auto;
  align-items: center;
  flex-direction: column;
  display: none;
}

.menu-list > .alert {
  background-color: #e9c5af;
  width: 50%;
  min-height: 10%;
  position: fixed;
  top: 10%;
  border-radius: 1rem;
  left: auto;
  align-items: center;
  flex-direction: column;
  display: none;
}

.menu-list > .alert > p {
  padding: 1.25rem 3rem 1.25rem 1.25rem;
}

.menu-list > .form > h1 {
  font-size: 2.5rem;
  padding: 1rem;
}

.menu-list > .form > form {
  display: flex;
  flex-direction: column;
}

#closeForm {
  margin-left: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#closeForm:hover,
.bi-cart-x:hover {
  cursor: pointer;
  color: #cc0000;
}

.bi-cart-plus:hover {
  cursor: pointer;
  color: #006400;
}

.form-inputs {
  display: flex;
  flex-direction: row;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
}

.form-input > input {
  width: 100%;
  height: 2.5rem;
}

.error-input {
  border: solid 2px #cc0000;
}

.error {
  color: #cc0000;
}

.cartItems {
  max-height: 20%;
  overflow: auto;
}

@media (max-width: 1250px) {
  .form-inputs {
    display: flex;
    flex-direction: column;
  }
  .form-input {
    width: 100%;
  }

  .menu-list > .alert {
    width: 80%;
  }
}
